/*
		2col: Minimal 2-column bootstrap for building web pages.
		http://github.com/yfory/2col
		
		Tired of over-hyped, bloated bootstraps and boilerplates?
		2-column get's back to basics and accounts for more screen sizes,
		and it's responsive too! Now you can customise 'till the cows come home.

		***
*/

body { font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif; }


h1,h2,h3,h4,h5,h6
{
	line-height: 1.25em;
	margin: 0.25em auto;
	padding: 0 auto;
	font-weight: bold;
	color: rgba(90,90,100,1);
}
h1 { font-size: 3.5em; }
h2 { font-size: 3.25em; }
h3 { font-size: 3em; }
h4 { font-size: 2.75em; }
h5 { font-size: 2.5em; }
h6 { font-size: 2.25em; }

p
{
	font-size: 1.2em;
	text-align: justify;
	color: rgba(19,19,20,1);
}






@media only screen and (max-width: 660px) {
	.row { width: 590px; }
	.one { width: 285px; }
	.two { width: 580px; }
	h1,h2,h3,h4,h5,h6
	{
		line-height: 1em;
		margin: 0.2em 0;
	}
	h1 { font-size: 2.5em; }
	h2 { font-size: 2.25em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.75em; }
	h5 { font-size: 1.5em; }
	h6 { font-size: 1.25em; }
	p { font-size: 1em; }
}

@media only screen and (max-width: 520px) {
	.row { width: 460px; }
		.row .row { margin: 0; }
	.one { width: 450px; }
	.two { width: 450px; }
	.column,.columns { float: none; }
	h1,h2,h3,h4,h5,h6
	{
		line-height: 1em;
		margin: 0.2em 0;
	}
	h1 { font-size: 2em; }
	h2 { font-size: 1.8em; }
	h3 { font-size: 1.6em; }
	h4 { font-size: 1.4em; }
	h5 { font-size: 1.2em; }
	h6 { font-size: 1em; }
	p { font-size: 0.95em; }
}

@media only screen and (max-width: 360px) {
	.row { width: 300px; }
		.row .row { margin: 0; }
	.one { width: 290px; }
	.two { width: 290px; }
	.column,.columns { float: none; }
	h1,h2,h3,h4,h5,h6
	{
		line-height: 1em;
		margin: 0.2em 0;
	}
	h1 { font-size: 1.5em; }
	h2 { font-size: 1.4em; }
	h3 { font-size: 1.3em; }
	h4 { font-size: 1.2em; }
	h5 { font-size: 1.1em; }
	h6 { font-size: 1em; }
	p { font-size: 0.9em; }
}