/*
		2col: Minimal 2-column bootstrap for building web pages.
		http://github.com/yfory/2col
		
		Tired of over-hyped, bloated bootstraps and boilerplates?
		2-column get's back to basics and accounts for more screen sizes,
		and it's responsive too! Now you can customise 'till the cows come home.

		***
*/

/* ****************************************************
   **** 2-column Grid                              ****
   **************************************************** */

.row
{
	width: 978px;
	margin: 0 auto;
	overflow: hidden;
}
	.row .row
	{
		margin: 0 -5px;
		width: auto;
		display: inline-block;
	}

.column,.columns
{
	margin: 0 5px;
	float: left;
	display: inline;
	overflow: hidden;
}
	.one { width: 479px; }
	.two { width: 968px; }



/* **************************************************** 
   **** Media Queries for responsive/adaptive fun! **** 
   **************************************************** */

@media only screen and (max-width: 660px) {
	.row { width: 590px; }
	.one { width: 285px; }
	.two { width: 580px; }

}

@media only screen and (max-width: 520px) {
	.row { width: 460px; }
		.row .row { margin: 0; }
	.one { width: 450px; }
	.two { width: 450px; }
	.column,.columns { float: none; }

}

@media only screen and (max-width: 360px) {
	.row { width: 300px; }
		.row .row { margin: 0; }
	.one { width: 290px; }
	.two { width: 290px; }
	.column,.columns { float: none; }

}